<section>
      <app-one-vehicle [vehicle]='vehicle' *ngIf='showVehicle' (return)='hideOneVehicle($event)'></app-one-vehicle>
</section>

<section>
  <app-filter-menu (filtered)="filtr($event)" *ngIf='!showVehicle'></app-filter-menu>
</section>
<div *ngIf='!showVehicle'>
  <section class="card mb-3" *ngFor='let vehicle of vehicles | brand:filters.brand' > 
    <!-- | filterPriceLow:filters.priceLow | 
    highestPrice:filters.highestPrice | 
    lowestMileage:filters.lowestMileage | 
    highestMileage:filters.highestMileage' -->
    <div class="row no-gutters">
      <div class="col-md-3 d-flex ">
        <a (click)='showOneVehicle(vehicle)'>
          <img src="{{ vehicle.payload.doc.data().downloadURL }}" class="card-img px-2 py-2" alt="Zdjęcie pojazdu">
        </a>
      </div>

      <div class="col-md-6 d-flex align-items-lg-center">
        <div class="card-body py-0 px-2">
          <h2 class="card-title mb-1">{{ vehicle.payload.doc.data().name | titlecase }}</h2>
          <p class="card-text mb-1">Przebieg: {{ vehicle.payload.doc.data().carMileage }}km</p>
          <p class="card-text mb-0 pt-lg-2">
            <small class="text-muted ">{{ vehicle.payload.doc.data().brand }}</small>
          </p>
          <p class='card-text pt-lg-2'>
            <small class="pr-3">Dodano:
              {{ vehicle.payload.doc.data().timestamp | date:'dd-MM-yyyy' }}</small>
          </p>
        </div>
      </div>
      <div class="col py-0 px-2 px-md-2 parent-trash-button">
        <div class="row align-items-end">
          <div class="col d-flex justify-content-md-end justify-content-start px-md-1">
            <b class='py-md-2 mr-md-2'>Cena: {{ vehicle.payload.doc.data().price }}zł</b>
          </div>
          <button type='button' class='btn-font-trash px-0 py-0' *ngIf='this.hideTrash' (click)='deleteVehicle(vehicle)'>
            <fa-icon [icon]="faTrash" class="fas fa-trash"></fa-icon>
          </button>
        </div>
      </div>

    </div>
  </section>
</div>
<nav aria-label="pagination" *ngIf='!showVehicle && this.vehicles.length > 4'>
  <ul class="pagination justify-content-between">
    <li class="page-item"> <!-- dissabled ng Class -->
      <button class="btn btn-secondary" aria-label="previous" tabindex="-1" [disabled]='disablePrev' (click)='prevPage()'>Poprzednia</button>
    </li>
    <li class="page-item">
      <button class="btn btn-secondary" aria-label="next" [disabled]='disableNext' (click)='nextPage()'>  Następna </button>
    </li>
  </ul>
</nav>