.parent-trash-button {
    position: relative;
}

.btn-font-trash {
    background-color: transparent;
    color: black;
    border: none;
    position: absolute;
    bottom: 0.3em;
    right: 0.5em;
}

img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    background-color: #f5e7e7;
}
.delete-alert {
    position: fixed;
    padding : 2em;
    top: 40%;
    left: 25%;
    background: #dfe4e6;
    opacity: 0.8;
    
}