<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <h1 class="navbar-brand mr-4 my-1">
            <a [routerLink]="['/']">
                KarMoto
            </a>
        </h1>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="!toggleNavbar">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active mx-1" *ngIf='!hideLoginButton'>
                    <a class="nav-link">Zalogowano<span class="sr-only"></span></a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data_target="dropdown_target">Kontakt<span
                            class="caret"></span>
                    </a>
                </li> -->
                <li class="nav-item active mx-1" *ngIf='hideLoginButton'>
                    <a class="nav-link" [routerLink]="['/logowanie']">Zaloguj/Zarejestruj</a>
                </li>
                <li class="nav-item active mx-1" *ngIf='!hideLoginButton'>
                    <a class="nav-link" href='#'>Oznaczone</a>
                </li>
                <li class="nav-item active mx-1" *ngIf='!hideLoginButton'>
                    <a class="nav-link" href='#' (click)='logout()'>Wyloguj</a>
                </li>
                <li ngbDropdown class="nav-item active">
                    <a class="nav-link" id="navbarDropdownMenuLink" ngbDropdownToggle aria-haspopup="true"
                        aria-expanded="false">
                        Kontakt
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
                        <address>
                             Karol Poprawa<br>
                            tel: +48 509 875 329<br>
                            e-mail: anita543@wp.pl<br>
                            ul. Wąska 26,<br>
                            Odolanów 63-430
                        </address>
                    </div>
                </li>
                <!-- <li ngbDropdown class="nav-item">
                    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </li> -->
            </ul>
        </div>
    </nav>
</header>
