<footer class=''>
    <div class="row bg-dark mx-0">
        <div class="col">
            <p class='my-1'>Kontakt:</p>
            <address>
                Karol Poprawa<br>
                tel: +48 509 875 329<br>
                e-mail: anita543@wp.pl<br>
                ul. Wąska 26,<br>
                63-430 Odolanów
            </address>
            <div class="text-center">
                <small>Copyright © 2020 Kar-Moto. All Rights Reserved</small>
            </div>
            
        </div>
    </div>
</footer>