/* 
.form-group {
    position: relative;
  } */
  
.btn-font-eye {
    
    /* top: 6vh; */
    /* right: 1vh; */
    /* background-color: transparent; */
    color: black;
    /* border: none; */
  }

button, fa-icon {
  color: black;
}
  a {
    color: #006eff;
  }
  a:hover {
    cursor: pointer;
  }