<div class="row mb-2">
  <div class="col">
    <button (click)='returnBtn($event)' class='btn btn-dark my-3'>powrót</button>
  </div>
</div>
<div class="row d-flex flex-column flex-lg-row justify-content-center mb-3">
  <div class='col-9'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="{{ vehicle.payload.doc.data().downloadURL }}" class="d-block w-100">
      </ng-template>
      <ng-template ngbSlide *ngFor='let vehicleURL of vehicleURLs'>
        <img src="{{ vehicleURL.payload.doc.data().downloadURL }}" class="d-block w-100">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-lg-3">
    <h2 class="display-4 my-0">{{ vehicle.payload.doc.data().name | titlecase }}</h2>
    <b>Cena: {{ vehicle.payload.doc.data().price }}zł</b>
    <p class='mb-0'>Przebieg: {{ vehicle.payload.doc.data().carMileage }}km</p>
    <small>{{ vehicle.payload.doc.data().brand }}</small>
    <br>
    <small>Dodano: {{ vehicle.payload.doc.data().timestamp | date:'dd-MM-yyyy' }}</small>
  </div>
</div>
