<div class="row">
  <div class="col">

    <button (click)='returnBtn($event)' class='btn btn-dark my-3'>powrót</button>

  </div>
</div>
<div class="row d-flex justify-content-center ">
  <div class='col-9'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="{{ vehicle.payload.doc.data().downloadURL }}" class="d-block w-100">
        <!-- <div class="carousel-caption">  
                <h3 style="color: yellow">Delhi Metro</h3>  
            </div>   -->
      </ng-template>
      <ng-template ngbSlide *ngFor='let vehicleURL of vehicleURLs'>
        <img src="{{ vehicleURL.payload.doc.data().downloadURL }}" class="d-block w-100">
        <!-- <div class="carousel-caption">  
                <h3 style="color: yellow">Bangalore Metro</h3>  
            </div>   -->
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-3">
    <h2 class="display-4">{{ vehicle.payload.doc.data().name | titlecase }}</h2>
    <b>Cena: {{ vehicle.payload.doc.data().price }}zł</b>
    <p>Przebieg: {{ vehicle.payload.doc.data().carMileage }}km</p>
    <small>{{ vehicle.payload.doc.data().brand }}</small>
    <br>
    <small>Dodano: {{ vehicle.payload.doc.data().timestamp | date:'dd-MM-yyyy' }}</small>
  </div>
</div>
<!-- <div class="carousel-item active">
    <img class="d-block w-100" src="{{ vehicle.downloadURL }}" alt="First slide">
  </div>
  <div class="carousel-item " *ngFor='let vehicleURL of vehicleURLs'>
    <img class="d-block w-100" src="{{ vehicleURL.downloadURL }}" alt="Second slide">
  </div> -->